<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="<?php echo base_url()?>/css/admin/public.css">
</head>
<body>
	<table class="table">
		<tr>
			<td class="th" colspan="10">查看文章</td>
		</tr>
		<tr>
			<td>AID</td>
			<td>文章标题</td>
			<td>文章简介</td>
			<td>文章内容</td>
			<td>操作</td>
		</tr>
		<?php foreach($articel as $v){?>
		<tr>
			<td><?php echo $v["aid"] ?></td>
			<td><?php echo $v["title"] ?></td>
			<td><?php echo $v["info"] ?></td>
			<td><?php echo $v["content"] ?></td>
			<td>
				[<a href="<?php echo site_url('admin/articel/edit_articel/'.$v['aid'])?>">编辑</a>]
				[<a href="<?php echo site_url('admin/articel/del_articel/'.$v['aid'])?>">删除</a>]
			</td>
		</tr>
		<?php } ?>
	</table>
</body>
</html>