<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>articel</title>
	<link rel="stylesheet" href="<?php echo base_url() ;?>/css/admin/public.css" />
	<style>
		span{
			color:red;
		}

	</style>
	<!-- <link rel="stylesheet" href="<?php echo base_url(); ?>css/admin/admin.css" /> -->
</head>
<body>
	<form action="<?php echo site_url("admin/articel/edit") ?>" method="POST" enctype="multipart/form-data">
		<table class="table">
			<tr >
				<td class="th" colspan="10">
					编辑文章
				</td>
			</tr>
			<tr>
				<td>标题</td>
				<td><input type="text" name="title" value="<?php echo $content[0]['title']?>"><!--保存原有内容-->
					<?php echo form_error("title" ,"<span>","</span>") ?><!-- 输出错误信息 -->
				</td>
			</tr>
			<tr>
				<td>类型</td>
				<td><input type="radio" name="type" value="0" <?php if($content[0]['type']==0){ echo "checked='checked'";} ?>/>普通
				<input type="radio" name="type" value="1" <?php  if($content[0]['type']==1){ echo "checked='checked'";} ?>/>热门
				</td>
			</tr>
			<tr>
				<td>栏目</td>
				<td>
					<select name="cid" id="">
						<!-- <option value="1" <?php if($content[0]['cid']==1){ echo "selected='selected'";} ?>>情感</option>
						<option value="2" <?php if($content[0]['cid']==2){ echo "selected='selected'";} ?>>生活</option> -->
						<?php foreach($cid as $v){?>
							<option value="<?php echo $v['cid']?>" <?php if($content[0]['cid']==1){ echo "selected='selected'";} ?>><?php echo $v['cname']?></option>
						<?php }?>
					</select>
				</td>
			</tr>
			<tr>
				<td>略缩图</td>
				<td>
					<input type="file">
				</td>
			</tr>
			<tr>
				<td>摘要</td>
				<td>
					<textarea name="info" id="" style="width:550px; height:160px;"><?php echo $content[0]['info']?></textarea><?php echo form_error("info","<span>","</span>")?>
				</td>
			</tr>
			<tr>
				<td>内容</td>
				<td>
					<textarea name="contains" id="" style="width:550px; height:500px;">
						<?php echo $content[0]['content']?>
					</textarea><?php echo form_error("contains","<span>","</span>")?>
					<input type="hidden" name="aid" value="<?php echo $id ?>">
				</td>
			</tr>
			<tr>
				<td colspan="10">
					<input type="submit" class="input_button" value="提交">
				</td>
			</tr>
		</table>
	</form>
</body>
</html>