<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>articel</title>
	<link rel="stylesheet" href="<?php echo base_url() ;?>/css/admin/public.css" />
	<style>
		span{
			color:red;
		}

	</style>
	<!-- <link rel="stylesheet" href="<?php echo base_url(); ?>css/admin/admin.css" /> -->
</head>
<body>
	<form action="<?php echo site_url("admin/articel/send") ?>" method="POST" enctype="multipart/form-data">
		<table class="table">
			<tr >
				<td class="th" colspan="10">
					发表文章
				</td>
			</tr>
			<tr>
				<td>标题</td>
				<td><input type="text" name="title" value="<?php echo set_value("title")?>"><!--保存原有内容-->
					<?php echo form_error("title" ,"<span>","</span>") ?><!-- 输出错误信息 -->
				</td>
			</tr>
			<tr>
				<td>类型</td>
				<td><input type="radio" name="type" value="0" <?php echo set_radio("type","0",TRUE)?>/>普通
				<input type="radio" name="type" value="1" <?php echo set_radio("type","1")?>/>热门
				</td>
			</tr>
			<tr>
				<td>栏目</td>
				<td>
					<select name="cid" id="">
						<?php foreach($category as $v){?>
						<option value="<?php echo $v['cid'] ?>"<?php echo set_select("cid",$v['cid'])?>><?php  echo $v['cname'] ?></option>
						<?php }?>
					</select>
				</td>
			</tr>
			<tr>
				<td>略缩图</td>
				<td>
					<input type="file">
				</td>
			</tr>
			<tr>
				<td>摘要</td>
				<td>
					<textarea name="info" id="" style="width:550px; height:160px;"><?php echo set_value("info")?></textarea><?php echo form_error("info","<span>","</span>")?>
				</td>
			</tr>
			<tr>
				<td>内容</td>
				<td>
					<textarea name="contains" id="" style="width:550px; height:500px;">
						<?php echo set_value("contains")?>
					</textarea><?php echo form_error("contains","<span>","</span>")?>
				</td>
			</tr>
			<tr>
				<td colspan="10">
					<input type="submit" class="input_button" value="发布">
				</td>
			</tr>
		</table>
	</form>
</body>
</html>